@use "sass:map";
@import "style/pages/theme"; 

.header_top{
    background: rgb(150, 148, 145);
}

.header_top_right{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 0 13px;
    ul{
        display: flex;
        column-gap: 5px;
        list-style: none;
        
        a{
            font-size: 15px;
            display: inline-block;
            color: map.get($theme-colors, "normal-text");
        }

        li:last-child{
            cursor: pointer;
            margin-left: 10px;    
            
            span{
                font-size: 15px;
                margin-left: 2px;
            }
        }    
    }
}

.header_top_left{
    align-items: center;
    padding: 10px 0 5px;
    font-size:xx-large;
    color: map.get($theme-colors, "normal-text");
}
